<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.megastudy.surlkdh.domain.audit.infrastructure.mybatis.mapper.AuditMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="auditId">
        INSERT INTO audit (action,
                           actor_type,
                           actor_id,
                           resource_type,
                           resource_id,
                           success,
                           error_message,
                           role,
                           created_at)
        VALUES (#{action},
                #{actorType},
                #{actorId},
                #{resourceType},
                #{resourceId},
                #{success},
                #{errorMessage},
                #{role},
                GETDATE())
    </insert>

</mapper>